# Stage status to start server:
#   - "dev", for start server without graceful shutdown
#   - "prod", for start server with graceful shutdown
STAGE_STATUS="dev"
APP_NAME=goarticle

# Server settings:
# SERVER_HOST=localhost
SERVER_HOST=app
PORT=8081
SERVER_READ_TIMEOUT=60

# JWT settings users:
JWT_SECRET_KEY_USER=secret
JWT_SECRET_KEY_EXPIRE_MINUTES_COUNT_USER=1
JWT_REFRESH_KEY_USER=refresh
JWT_REFRESH_KEY_USER_EXPIRE_HOURS_COUNT=2


# Database settings:
POSTGRES_CONTAINER_NAME=postgres-${APP_NAME}
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=go_article
DB_SSL_MODE=disable
DB_MAX_CONNECTIONS=100
DB_MAX_IDLE_CONNECTIONS=10
DB_MAX_LIFETIME_CONNECTIONS=2

# db address local
DB_ADDRESS_STRING=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=${DB_SSL_MODE}


DB_ADDRESS_STRING_SEEDER=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST_SEEDER}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=${DB_SSL_MODE} 


# Redis settings:
REDIS_CONTAINER_NAME=redis-${APP_NAME}
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=password
REDIS_DB_NUMBER=1

REDIS_TTL_ARTICLE_HOUR=24